/*
=================
Base Layout
=================
*/
*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

input[type='text']{
	width: 90%;
	border-radius: 5px;
	height: 40px;
	margin-top: 0px;
	padding: 10px;
	color: grey;
	margin: 10px;
	border-color: #C0C0C0;
}

/*
=================
Base Container
=================
*/

.container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
	margin-top: 20px;


}


.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gallery-item{
	flex-grow: 1;
	margin-left: 0px;
	margin-right: 0px;
}


.lb-data .lb-close{
	display: none;
}

.lightbox .lb-image {
    border: none;
}


.lb-data .lb-details{
	text-align: center;
	margin-top: 10px;
	width: 100%;
}


.lightboxOverlay{
	background: #2e2d2d;
}

/*
=================
Media Query
=================
*/


@media screen and (min-width: 768px) {

	input[type='text']{
		width: 320px;
		border-radius: 5px;
		height: 20px;
		margin-top: 0px;
		padding: 10px;
		color: grey;
		margin: 10px;
		border-color: #C0C0C0;
	}

	.container{
	    width: 85%;
	    max-width: 1150px;
	    margin: 0 auto;
	    text-align: center;
		margin-top: 20px;

	}
	.gallery{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.gallery-item{
		flex-grow: 1;
		margin: 20px;
	}

	.clear-fix::after{
		content: "";
		display: table;
		clear: both;
	}
}
